<a href="https://colab.research.google.com/github/SureshTakasi/DATA690-WANG/blob/master/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import math

In [9]:
DATA_URL = 'https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-All-Data-Elements.csv'
col_names = ["CONTROL", "MD_EARN_WNE_P10"]
df = pd.read_csv(DATA_URL, usecols=col_names)
df.shape

(6806, 2)

In [10]:
df.head()

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
2        2           39600
3        1           46700
4        1           27700

In [11]:
df.sample(5)

      CONTROL    MD_EARN_WNE_P10
5321        3                NaN
3409        1              41900
3756        1              35500
1543        2              32500
5162        3  PrivacySuppressed

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6806 entries, 0 to 6805
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CONTROL          6806 non-null   int64
 1   MD_EARN_WNE_P10  5503 non-null   object
dtypes: int64(1), object(1)
memory usage: 106.5+ KB

In [0]:
df2=df.replace(0, np.nan)
df3=df2.dropna(subset=["MD_EARN_WNE_P10"])

In [0]:
only_public = df3[df3["CONTROL"] == 1]

In [17]:
only_public["MD_EARN_WNE_P10"].isna().sum() #No Null values now

0

In [19]:
only_public.sample(5) #sample of 5

      CONTROL MD_EARN_WNE_P10
1306        1           29800
4378        1           25200
2469        1           26200
2974        1           50100
2506        1           33200

In [28]:
only_public['MD_EARN_WNE_P10'] = pd.to_numeric(only_public['MD_EARN_WNE_P10'], errors='coerce')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
only_public['MD_EARN_WNE_P10'].describe()

count      1853.000000
mean      36083.216406
std       13464.472651
min       10800.000000
25%       29000.000000
50%       33500.000000
75%       39800.000000
max      241900.000000
Name: MD_EARN_WNE_P10, dtype: float64

In [0]:
sample_50 = only_public.sample(50)

In [0]:
sample_50_mean  = sample_50.mean()

In [35]:
sample_50_mean

CONTROL                1.000000
MD_EARN_WNE_P10    39506.521739
dtype: float64

In [0]:
sample_50_std_dev = sample_50.std()

In [37]:
sample_50_std_dev

CONTROL                0.000000
MD_EARN_WNE_P10    18927.492082
dtype: float64

In [0]:
#Calculating Standard error
standard_error = sample_50_std_dev / math.sqrt(50)

In [42]:
standard_error

CONTROL               0.0000
MD_EARN_WNE_P10    2676.7516
dtype: float64

In [43]:

# Calculate 68% Confidence Interval (CI) - one standard error from the population mean
# 68% chances the population mean is within the sample_mean (+ or -) the standard error (SE)
LCL_68 = sample_50_mean -  standard_error
UCL_68 = sample_50_mean +  standard_error

print("Lower confidence limit at 68% confidence level = ", round(LCL_68,2))
print("Upper confidence limit at 68% confidence level = ", round(UCL_68,2))

Lower confidence limit at 68% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    36829.77
dtype: float64
Upper confidence limit at 68% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    42183.27
dtype: float64

In [45]:

# Calculate 95% Confidence Interval (CI) - one standard error from the population mean
# 90% chances the population mean is within the sample_mean + or - 2 * the standard error (SE)

LCL_95 = sample_50_mean -  2 * standard_error
UCL_95 = sample_50_mean +  2 * standard_error

print("Lower confidence limit at 95% confidence level = ", round(LCL_95,2))
print("Upper confidence limit at 95% confidence level = ", round(UCL_95,2))

Lower confidence limit at 95% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    34153.02
dtype: float64
Upper confidence limit at 95% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    44860.02
dtype: float64

In [46]:

# Calculate 99.7% Confidence Interval (CI) - one standard error from the population mean
# 99.7% chances the population mean is within the sample_mean + or - 3 * the standard error (SE)
LCL_997 = sample_50_mean -  3 * standard_error
UCL_997 = sample_50_mean +  3 * standard_error
print("Lower confidence limit at 99.7% confidence level = ", round(LCL_997,2))
print("Upper confidence limit at 99.7% confidence level = ", round(UCL_997,2))

Lower confidence limit at 99.7% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    31476.27
dtype: float64
Upper confidence limit at 99.7% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    47536.78
dtype: float64

In [0]:
sample_100 = only_public.sample(100)

In [0]:
sample_100_mean = sample_100.mean()

In [49]:
sample_100_mean

CONTROL                1.00000
MD_EARN_WNE_P10    34085.56701
dtype: float64

In [0]:
sample_100_std_dev = sample_100.std()

In [51]:
sample_100_std_dev

CONTROL               0.000000
MD_EARN_WNE_P10    7550.165419
dtype: float64

In [0]:
#Calculating Standard error
standard_error2 = sample_100_std_dev / math.sqrt(100)

In [53]:
standard_error2

CONTROL              0.000000
MD_EARN_WNE_P10    755.016542
dtype: float64

In [54]:

# Calculate 68% Confidence Interval (CI) - one standard error from the population mean
# 68% chances the population mean is within the sample_mean (+ or -) the standard error (SE)
LCL_68 = sample_100_mean -  standard_error2
UCL_68 = sample_100_mean +  standard_error2

print("Lower confidence limit at 68% confidence level = ", round(LCL_68,2))
print("Upper confidence limit at 68% confidence level = ", round(UCL_68,2))

Lower confidence limit at 68% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    33330.55
dtype: float64
Upper confidence limit at 68% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    34840.58
dtype: float64

In [56]:
# Calculate 95% Confidence Interval (CI) - one standard error from the population mean
# 90% chances the population mean is within the sample_mean + or - 2 * the standard error (SE)

LCL_95 = sample_100_mean -  2 * standard_error2
UCL_95 = sample_100_mean +  2 * standard_error2

print("Lower confidence limit at 95% confidence level = ", round(LCL_95,2))
print("Upper confidence limit at 95% confidence level = ", round(UCL_95,2))

Lower confidence limit at 95% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    32575.53
dtype: float64
Upper confidence limit at 95% confidence level =  CONTROL                1.0
MD_EARN_WNE_P10    35595.6
dtype: float64

In [57]:

# Calculate 99.7% Confidence Interval (CI) - one standard error from the population mean
# 99.7% chances the population mean is within the sample_mean + or - 3 * the standard error (SE)
LCL_997 = sample_100_mean -  3 * standard_error2
UCL_997 = sample_100_mean +  3 * standard_error2
print("Lower confidence limit at 99.7% confidence level = ", round(LCL_997,2))
print("Upper confidence limit at 99.7% confidence level = ", round(UCL_997,2))

Lower confidence limit at 99.7% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    31820.52
dtype: float64
Upper confidence limit at 99.7% confidence level =  CONTROL                1.00
MD_EARN_WNE_P10    36350.62
dtype: float64

In [0]:
population_mean = only_public['MD_EARN_WNE_P10'].mean() #Population Mean

In [0]:
sample_mean = sample_100['MD_EARN_WNE_P10'].mean() #Sample mean

In [65]:
print("Difference is: ", population_mean - sample_mean)

Difference is:  1997.6493955191108